h1 {
  margin-bottom: 50px;
}
.forecast-rows {
  margin: 0% auto;
  border-radius: 20px;
  padding: 4%;
}

.forecast-night {
  box-shadow: inset -6px 5px 15px rgba(119, 171, 255, 0.807);
}
.forecast-day {
  box-shadow: inset -6px 5px 15px rgba(220, 155, 17, 0.807);
}
.forecast-rain-day {
  box-shadow: inset -6px 5px 15px rgba(201, 161, 199, 0.807);
}
.forecast-rain-night {
  box-shadow: inset -6px 5px 15px rgba(166, 97, 163, 0.807);
}
.forecast-cloud-day {
  box-shadow: inset -6px 5px 15px rgba(193, 193, 193, 0.807);
}
.forecast-cloud-night {
  box-shadow: inset -6px 5px 15px rgba(135, 135, 135, 0.807);
}
.forecast-snow-day {
  box-shadow: inset -6px 5px 15px rgba(255, 255, 255, 0.807);
}
.forecast-snow-night {
  box-shadow: inset -6px 5px 15px rgba(233, 233, 233, 0.807);
}
.forecast-wind-day {
  box-shadow: inset -6px 5px 15px rgba(83, 203, 233, 0.807);
}
.forecast-wind-night {
  box-shadow: inset -6px 5px 15px rgba(61, 150, 172, 0.807);
}

.min-temp {
  opacity: 0.5;
}
