.Weather {
  color: white;
  background-color: black;
  border-radius: 15px;
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
  margin: 0 auto;
  font-size: 25px;
  font-weight: 200;
}

.second-section {
  padding-top: 80px;
}
.search-bar {
  color: white;
  background-color: rgba(255, 255, 255, 0.141);
}
.search-bar:focus {
  color: white;
  background-color: rgba(255, 255, 255, 0.141);
}
.search-bar-icon {
  color: white;
  background-color: rgba(255, 255, 255, 0.141);
}
.today-date {
  text-align: inherit;
  opacity: 0.5;
  line-height: 1px;
}
.today-temp {
  display: flex;
  margin-bottom: 0 auto;
  justify-content: flex-end;
  position: relative;
}
.current-temp {
  font-size: 50px;
  line-height: 40px;
}
.c-sign {
  line-height: 20px;
}
.today-feeling {
  position: relative;
  top: 8px;
}

.today-circle {
  margin-top: 30%;
  width: 200px;
  height: 200px;

  border: 1px solid transparent;
  border-radius: 20px;
  margin: 2% auto;
  margin-bottom: 60px;
  border-radius: 50%;
  position: relative;
}
.today-circle-night {
  box-shadow: inset -4px -5px 12px 5px rgba(119, 171, 255, 0.807);
}
.today-circle-day {
  box-shadow: inset -4px -5px 12px 5px rgba(220, 155, 17, 0.807);
}
.today-circle-rain-day {
  box-shadow: inset -4px -5px 12px 5px rgba(201, 161, 199, 0.807);
}
.today-circle-rain-night {
  box-shadow: inset -4px -5px 12px 5px rgba(166, 97, 163, 0.807);
}
.today-circle-cloud-day {
  box-shadow: inset -4px -5px 12px 5px rgba(193, 193, 193, 0.807);
}
.today-circle-cloud-night {
  box-shadow: inset -4px -5px 12px 5px rgba(135, 135, 135, 0.807);
}
.today-circle-snow-day {
  box-shadow: inset -4px -5px 12px 5px rgba(255, 255, 255, 0.807);
}
.today-circle-snow-night {
  box-shadow: inset -4px -5px 12px 5px rgba(233, 233, 233, 0.807);
}
.today-circle-wind-day {
  box-shadow: inset -4px -5px 12px 5px rgba(83, 203, 233, 0.807);
}
.today-circle-wind-night {
  box-shadow: inset -4px -5px 12px 5px rgba(61, 150, 172, 0.807);
}
.Weather .today-circle-content canvas {
  position: absolute;
  width: 60%;
  height: auto;
  top: 20%;
  left: 20%;
}
.today-info {
  font-size: 20px;
  line-height: 60px;
  padding: 2%;
  border-radius: 20px;
  max-width: 100%;
  margin: 0 auto;
}
.today-info-night {
  box-shadow: inset -4px -5px 10px 2px rgba(119, 171, 255, 0.807);
}
.today-info-day {
  box-shadow: inset -4px -5px 10px 2px rgba(220, 155, 17, 0.807);
}

.today-info-rain-day {
  box-shadow: inset -4px -5px 10px 2px rgba(201, 161, 199, 0.807);
}
.today-info-rain-night {
  box-shadow: inset -4px -5px 10px 2px rgba(166, 97, 163, 0.807);
}
.today-info-cloud-day {
  box-shadow: inset -4px -5px 10px 2px rgba(193, 193, 193, 0.807);
}
.today-info-cloud-night {
  box-shadow: inset -4px -5px 10px 2px rgba(135, 135, 135, 0.807);
}
.today-info-snow-day {
  box-shadow: inset -4px -5px 10px 2px rgba(255, 255, 255, 0.807);
}
.today-info-snow-night {
  box-shadow: inset -4px -5px 10px 2px rgba(233, 233, 233, 0.807);
}
.today-info-wind-day {
  box-shadow: inset -4px -5px 10px 2px rgba(83, 203, 233, 0.807);
}
.today-info-wind-night {
  box-shadow: inset -4px -5px 10px 2px rgba(61, 150, 172, 0.807);
}
.weather-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 20px;
}
