.Weather {
  color: white;
  background-color: black;
  border-radius: 15px;
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
}
h1 {
  margin: 0 auto;
  font-size: 30px;
  font-weight: 100;
}

.second-section {
  padding-top: 80px;
}
.search-bar {
  color: white;
  background-color: rgba(255, 255, 255, 0.141);
}
.search-bar:focus {
  color: white;
  background-color: rgba(255, 255, 255, 0.141);
}
.search-bar-icon {
  color: white;
  background-color: rgba(255, 255, 255, 0.141);
}
.today-date {
  text-align: inherit;
  opacity: 0.5;
  line-height: 1px;
}
.today-temp {
  display: flex;
  margin-bottom: 0 auto;
  justify-content: flex-end;
  position: relative;
  left: -10px;
}
.current-temp {
  font-size: 60px;
  line-height: 40px;
}
.c-sign {
  line-height: 20px;
}
.today-feeling {
  position: relative;
  top: 8px;
}
.width-100 {
  width: fit-content;
}
.today-circle {
  margin-top: 30%;
  width: 200px;
  height: 200px;

  box-shadow: inset -4px -5px 12px 5px rgba(119, 171, 255, 0.807);

  border: 1px solid transparent;
  border-radius: 20px;
  margin: 2% auto;
  margin-bottom: 60px;
  border-radius: 50%;
  position: relative;
}
.today-circle-content {
  font-size: 50px;
  line-height: 55px;
  position: absolute;
  width: inherit;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
.today-info {
  font-size: 23px;
  display: flex;
  justify-content: space-around;
  line-height: 60px;
  margin: 2% auto;
  padding: 2%;
  box-shadow: inset -4px -5px 10px 5px rgba(119, 171, 255, 0.807);
  border-radius: 20px;
}
.weather-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 20px;
}
